/* Globals*/

*{
  font-family: 'Poppins', sans-serif;
  /* font-family: 'Roboto', sans-serif; */
}

:root{
  font-size: 62.5%;
}

body{
  font-size: 1.6rem;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

footer{
  height: 15rem;
  background-color: #000000;
  
}

/* ----------------------------------------------------------------------------------------- */

/* Header */

.container-head{
  display: flex;
  justify-content: space-evenly;
  margin-right: 2.5rem;
  align-items: center;
  flex-direction: row;
  padding: 7rem;
}

.nav-link{
  color: #000000;
  font-size: 4rem;
  font-weight: 600;
  text-decoration: none;
  transition: 0.3s;

}

.nav-link:hover{
  transform: scale(1.1);
  color: rgb(30, 16, 231);
}




/* ------------------------------------------------------------------------------------------ */

/* Menu Lateral */

.lateral{
  position: fixed;
  top: 0;
  right: 3rem;
  height: 100vh;
  margin-right: 2rem;
  transform: translateY(50%);

}

.lateral a {
  display: block;
  margin-bottom: 1rem;
}

.lateral-icon{
 width: 1.8rem;
 height: 1.8rem;
}

/* ------------------------------------------------------------------------------------------ */

/* Home */
.title-home{
  margin-top: 6rem;
  display: flex;
  justify-content: center;
  font-size: 4.5rem;
  cursor: pointer;
}

.container-home{
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  margin-bottom: 8rem;

}

.centralized-text{
  margin-top: 16rem;
  line-height: 1.5;
}

.side-image{
  height: 55rem;
  border-radius: 8px;
  margin-right: 4rem;
}

@media (max-width:1179px) {
  .side-image{
    height: 40rem;
  }
  .title-home{
    font-size: 3.5rem;
  }
  .centralized-text{
    margin-top: 8rem;
  }
  .lateral{
    display: none;
  }
}
@media (max-width:942px) {
  .side-image{
    height: 30rem;
  }
  .title-home{
    font-size: 3rem;
  }
  .centralized-text{
    margin-top: 5rem;
    font-size: 1.2rem;
  }
}
@media (max-width:808px) {
  .side-image{
    height: 25rem;
  }
  .title-home{
    font-size: 2.5rem;
  }
  .centralized-text{
    margin-top: 3rem;
    font-size: 1.1rem;
  }
}
@media (max-width:733px) {
  
  .title-home{
    font-size: 2rem;
  }
  .centralized-text{
    margin-top: 2rem;
    font-size: 1.4rem;
  }
}
@media (max-width:665px) {
  
  .side-image{
    display: none;
  }
}

@media (max-width:420px) {
 .nav-link{
  margin: 20px;
 }
 .side-image{
  display: none;
}
}

/* --------------------------------------------------------------------------------------------- */

/* Prints */
.title-prints{
  display: flex;
  justify-content: center;
  margin-top: 10rem;
}

.container-prints{
  margin-left: 2rem;
  margin-right: 2rem;
  display: flex;
  margin-top: 7rem;
  margin-bottom: 8rem;
  justify-content: space-evenly;

}
.image{
  position: relative;
}

.content{
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.3s;
  background-color: #a38f8fa4;
}


.content:hover{
  opacity: 1;
}

.print{
  height: 32rem;
  width: 25rem;
}

.content p{
    font-size: 3rem;
    color: #000000;

}

@media (max-width: 973px){
  .print{
    height: 28rem;
    width: 21rem;
  }
}

@media (max-width: 760px){
  .print{
    height: 24rem;
    width: 17rem;
  }
  .largueImage{
    height: 26rem;
    width: 9rem;
  }
}
@media (max-width: 592px){
 .container-prints{
  display: grid;
 }
 .print{
  height: 36rem;
  width: 32rem;
 }
}
@media (max-width: 474px){
  body{
    overflow-x: hidden;
  }
  .container-prints{
   display: grid;
  }
  .print{
   height: 34rem;
   width: 30rem;
  }
 
 }


/* --------------------------------------------------------------------------------------------- */